@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

/* body{
    background-color: #000;
} */

.header{
  background: linear-gradient(rgba(0, 0, 0, 0.22)50%, rgba(0, 0, 0, 0.22)50%), url(images/honda-evtol-hybrid-aircraft-concept.jpg);
  width: 100%;
  height: 100vh; 
  position: relative;
  background-position: center;
  background-size: cover;
    
}
/* -------------------NAVIGATION BAR STYLING----------------------- */
.header nav {
    display: flex;
    align-items: center;
    line-height: 70px;
    justify-content: space-between;
    padding: 10px 8%;
    background: #fff;
    border-bottom: 1px solid #bbb;
}

.header nav .nav-logo{
    width: 80px;
    height: 80px;
    border: 8px solid #000000c9;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.22);

}

nav .nav-logo img{
    width: 100%;
}

nav .nav-links li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
    transition: color 0.4s;
}

nav .nav-links li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000000c9;
}

nav .nav-links li:hover a{
    color: #bedf92;
}

.toll-line{
    display: flex;
    align-items: center;
    line-height: 15px;
    font-size: 12px;
    color: #000000c9;
    transition: color 0.4s;
}

.toll-line .fa-phone-volume{
    margin-right: 8px;
    font-size: 18px;
}

.toll-line:hover{
    color: #bedf92;
}

.header button {
    padding: 10px 20px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    background: #000000c9;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.header .signin-btn{
    background: transparent;
    border: 1px solid #000000c9;
    color: #000000c9;
    border-radius: 4px;
}

/* --------------------------------------------HEADER INTRODUCTION SECTION------------------------------------------------------ */
.introduction{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction .head-img{
    flex-basis: 800px;
    padding: 40px 8%;
    transform: translate(2.5);
}

.introduction .head-img img {
    width: 100%;
    height: fit-content;
    margin: auto;
    
}
.introduction .intro-text{
    flex: 1;
}

.introduction .intro-text h1{
    font-size: 35px;
    color: #fff;
    /* width: 750px; */
}

.introduction .intro-text h1 span{
    font-size: 80px;
    color: yellow;
    font-weight: 600;
}
.introduction .intro-text p{
    font-size: 25px;
    color: yellow;
    margin-top: 20px;
}

.introduction .booking-form{
    max-width: 1200px;
    width: 600px;
    background: #fff;
    padding: 5px 8px;
}

.booking-form input{
    width: 100%;
}